@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .header-box
    padding: 0 10px

  .phone
    font-size: 22px

  .phone-code
    font-size: 16px

  .header-box-phone .header-box:last-child
    padding-right: 10px

  .special-offers-wrapper
    padding: 0 35px

    .slick-prev
      left: 0

    .slick-next
      right: 0

  .gallery-slider
    padding: 0 40px

  footer
    .logo
      max-width: 200px

  .copyright
    max-width: 460px
    margin: 0 auto
    text-align: center

  .dropdown-menu
    min-width: 700px

  .footer .copyright
    margin: 0
    text-align: left

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  header
    .logo
      max-width: 185px

    .logo-text
      font-size: 6px
      bottom: -8px

  .links-callback__icon
    margin: 0 10px 0 0

  header
    .menu
      font-size: 11px

    .phone
      font-size: 16px

    .phone-code
      font-size: 12px

    .links-callback
      font-size: 11px

  .menu-links
    padding: 18px 0

  .header-center
    padding: 15px 0 25px

  .p-60
    padding: 45px 0

  .links-callback__icon
    width: 30px
    height: 30px
    min-width: 30px
    font-size: 13px

  .footer-box
    &:last-child
      width: 100%
      margin: 30px 0 0

  .form-subscribe
    margin: 10px 0 20px

  .footer-top
    padding: 60px 0 30px

  .copyright
    max-width: 300px
    font-size: 10px

  .footer-bottom
    padding: 50px 0 20px

  .dropdown-menu
    min-width: 500px

  .dropdown-menu__box-content .dropdown-menu__item
    max-width: none

  .dropdown-menu__box-content
    justify-content: flex-start
    height: auto

  .dropdown-menu__box-left
    width: 220px

  .dropdown-menu__box-right
    width: calc(100% - 220px)

  .header .form-search
    max-width: 280px

  .footer .copyright
    max-width: 200px

/* Small Devices, Tablets */
@media only screen and (max-width: 800px)
  .btn-burger
    display: flex

  header
    background: #fff
    box-shadow: 4px 5px 23px 0 rgba(20, 32, 61, 0.1)

    .links-callback__text
      display: none

    .header-box
      padding: 0
      border: none
      margin: 0 10px 0 0

    .links-callback__icon
      margin: 0

  .header-bottom
    display: none

  .header-center
    padding: 10px 0 15px

    .container
      align-items: center

  .header-box-phone
    .header-box:last-child
      padding-right: 0

  .advantages-wrapper, .information-content
    padding: 0 20px 0 0

  .header-box-phone
    border: none
    margin: 0 auto

    .header-box
      margin: 0

  .list-message
    margin: 0 10px 0 0

  .header
    padding: 10px 0

    .btn-callback
      .links-callback__text
        display: block

    .header-center
      .container
        border: none

    .phone
      text-align: center

  .header-box-info
    margin: 0 auto

  .btn-search-mobile
    display: flex

  .header .form-search
    display: none
    position: absolute
    left: 0
    top: 100%
    width: 100%
    padding: 10px
    z-index: 2
    max-width: none
    background: #fff

    button
      right: 20px

  .page-content__tour
    flex-direction: column
    align-items: flex-start

  .page-content__wrap
    width: 100%
    padding: 0

  .tour-price
    width: 100%
    margin: 20px auto

  .tour-menu
    margin: 10px 0

  .sight-box__body p
    padding: 5px 0


@media only screen and (max-width: 768px)
  .p-60
    padding: 40px 0

  .header-top
    display: none

  h2
    font-size: 30px

  h3
    font-size: 22px

  h1
    font-size: 34px

  .directions-company__box
    width: 100%
    margin: 0 0 30px
    padding: 0 0 20px
    border: none
      bottom: 2px dashed rgba(43, 77, 164, 0.6)

    &:last-child
      margin: 0
      padding: 0
      border: none

    &:first-child
      padding: 0 0 20px

  .directions-company__country:before
    height: 100%

  .advantages-wrapper, .information-content
    padding: 0
    width: 100%
    margin: 0 0 30px

  .info-box
    width: 100%

  .list-number li:before
    font-size: 20px

  .gallery-slider__box
    max-width: none
    width: 100%

  .gallery-slider-row
    justify-content: space-between

    .gallery-slider__box-min
      max-width: 49%

  .gallery-slider-col
    padding: 0

  .footer-bottom .container
    flex-direction: column
    align-items: center

  .copyright
    margin: 10px auto 0
    max-width: none
    order: 1

  footer
    .logo
      margin: 0 auto 10px

  .tabs-list-content__box .h3
    margin: 0 0 15px

  .tabs-list-content__box ul
    padding: 6px 0 18px 20px

  .tabs-list-content__box
    margin: 20px 0 0

  .footer
    -webkit-background-size: 1200px
    background-size: 1200px
    padding: 180px 0 10px

  .footer .copyright
    margin: 10px auto 0
    max-width: none
    width: 100%
    text-align: center

  .wrapper-col-left
    padding: 0
    width: 100%
    margin: 0 0 30px

  .wrapper-col-right
    width: 100%

  .sight-box
    padding: 0

  .sight-box__body ul
    padding: 6px

  .sight-box__body p
    text-indent: 15px

  .price-tour-wrapper
    flex-direction: column
    align-items: flex-start

    .box-text
      width: 100%

    .btn-reservation
      order: -1
      margin: 0 auto 10px

  .day-program
    width: 100%
    min-width: auto

  .content-program
    width: 100%


/* Extra Small Devices, Phones */
@media only screen and (max-width: 680px)
  .sidebar
    display: none

  .page-content
    width: 100%
    padding: 0

  .share-list
    display: none

@media only screen and (max-width: 576px)
  .header-box-phone
    flex-direction: column
    align-items: flex-start

  h2
    font-size: 24px

  h1
    font-size: 26px

  h3
    font-size: 18px

  .slick-arrow
    width: 25px
    height: 35px

  .special-offers-wrapper
    padding: 0 25px

  .gallery-slider
    padding: 0 25px

  .information-content .box-text ul
    padding: 0 0 0 20px

    li
      width: 100%

  .banner-section
    padding: 20px 0

  .footer-top
    .container
      align-items: flex-start

  .footer-box
    margin: 0 0 30px

    &:last-child
      margin: 0
      width: 100%

  .footer-contacts
    margin: 20px 0 0

  .form-subscribe
    margin: 0

    .form-group
      flex-wrap: wrap

      button
        margin: 0 auto

      label
        margin: 0 0 10px
        width: 100%

  .list-message
    li
      a
        width: 24px
        height: 24px

      .whatsapp-link
        width: 26px
        height: 26px

  .logo
    flex-wrap: wrap
    align-items: flex-start
    justify-content: flex-start

  header
    .logo
      max-width: 120px
    .logo-text
      bottom: -12px
      text-align: left
      line-height: 1


  .btn-burger
    margin: 0 0 20px

  .fake-link
    margin: 13px 0 0 0
    font-size: 6px

  .footer
    .container
      flex-direction: column
      align-items: center

    .list-social
      order: 1
      margin: 10px auto 0

    .address
      max-width: none
      text-align: center

    .copyright
      order: 2

  .gallery-wrapper .gallery-item
    max-width: 33.3%
    max-height: 70px

  .slider-gallery-max .slick-arrow
    padding: 5px

  .slider-gallery-max
    width: 100%

  .slider-gallery-preview
    width: 100%
    padding: 0
    margin: 20px 0 0

    .slider-gallery-max__item
      width: 98%
      margin: 0 auto
      height: 150px

  .sight-box
    margin: 20px 0 0

  .tour-card
    margin: 0 0 20px

  .help-information-item
    width: 100%
    border: none

    &:last-child
      padding: 0



@media only screen and (max-width: 480px)
  .schedule
    font-size: 7px

  header .links-callback__icon
    width: 25px
    height: 25px
    min-width: 25px
    font-size: 10px

  header
    .phone
      font-size: 12px

    .phone-code
      font-size: 8px

  .gallery-slider__box
    height: 250px

  .gallery-slider__box-min
    height: 120px

  .list-message
    margin: 0 5px 0 0

    li
      a
        width: 18px
        height: 18px

      .whatsapp-link
        width: 20px
        height: 20px

  .btn-callback
    width: 120px
    font-size: 10px
    height: 25px

    .links-callback__icon
      width: 20px
      min-width: 20px

  .tour-box__content
    width: 100%
    margin: 20px 0 0
    padding: 0

  .tour-box__img
    width: 100%
    margin: 0 auto
    max-width: none

  .value-days-tour
    margin: 10px 0 0

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  header
    .logo
      max-width: 100px



@media only screen and (max-width: 380px)
  header
    .list-message
      display: none

    .schedule
      display: none

    .header-box-phone
      margin: 0 auto 20px
    .header-box
      margin: 0 7px 20px 0

  .header
    .phone
      font-size: 11px
    .links-callback-mail
      width: 25px
      height: 25px
      display: flex
    .btn-callback
      width: 25px
      height: 25px
      border-radius: 50%
      .links-callback__text
        display: none
    .header-box-info
      display: flex
      align-items: center
      margin: 0 5px 20px auto
    .header-box-info__footer
      margin: 0 7px